<section class="provider-info">
  <h3>Información del Proveedor</h3>
  <form>
    <mat-form-field appearance="fill" class="example-full-width">
      <mat-label>Seleccionar Proveedor</mat-label>
      <mat-select [(ngModel)]="selectedProvider" name="selectedProvider">
        <mat-option *ngFor="let provider of providers" [value]="provider.value">
          {{provider.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="form-row">
      <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>Nombre Proveedor</mat-label>
        <input matInput placeholder="Enter item" [(ngModel)]="providerName" name="providerName" />
      </mat-form-field>

      <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>Correo Electrónico Proveedor</mat-label>
        <input matInput type="email" placeholder="Enter description" [(ngModel)]="providerEmail" name="providerEmail" />
      </mat-form-field>

      <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>RUC</mat-label>
        <input matInput placeholder="Enter description" [(ngModel)]="providerRUC" name="providerRUC" />
      </mat-form-field>

      <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>Distrito</mat-label>
        <input matInput placeholder="Enter item" [(ngModel)]="providerDistrict" name="providerDistrict" />
      </mat-form-field>

      <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>Dirección</mat-label>
        <input matInput placeholder="Enter item" [(ngModel)]="providerAddress" name="providerAddress" />
      </mat-form-field>

      <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>Teléfono</mat-label>
        <input matInput placeholder="Enter item" [(ngModel)]="providerPhone" name="providerPhone" />
      </mat-form-field>
    </div>
  </form>
</section>
