<section class="product-selection">
  <h3>Seleccionar productos</h3>
<!--  <mat-form-field appearance="fill">-->
<!--    Buscar producto-->
<!--    <input matInput placeholder="Buscar producto" />-->
<!--  </mat-form-field>-->
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    < <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Nombre Column -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
    </ng-container>

    <!-- Precio Column -->
    <ng-container matColumnDef="precio">
      <th mat-header-cell *matHeaderCellDef> Precio </th>
      <td mat-cell *matCellDef="let element"> {{element.precio}} </td>
    </ng-container>

    <!-- Categoría Column -->
    <ng-container matColumnDef="categoria">
      <th mat-header-cell *matHeaderCellDef> Categoría </th>
      <td mat-cell *matCellDef="let element"> {{element.categoria}} </td>
    </ng-container>

    <!-- Created_at Column -->
    <ng-container matColumnDef="created_at">
      <th mat-header-cell *matHeaderCellDef> Fecha de Creación </th>
      <td mat-cell *matCellDef="let element"> {{element.created_at | date}} </td>
    </ng-container>

    <!-- Updated_at Column -->
    <ng-container matColumnDef="updated_at">
      <th mat-header-cell *matHeaderCellDef> Última Actualización </th>
      <td mat-cell *matCellDef="let element"> {{element.updated_at | date}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</section>
