<header class="header">
  <div class="logo-div">
    <img style="width: 50px;" src="assets/brand/logo.png" alt="logo">
    <h1 class="jockey-one-regular">SISOGPROL</h1>
  </div>
  <div class="user-info">
    <img class="notification-icon" src="assets/icons/notification_icon.svg" alt="notification icon">
    <div class="user-details">
      <img class="profile-picture" src="https://github.com/A-PachecoT.png" alt="Pancho">
      <div class="user-name-role">
        <span class="user-name">André</span>
        <span class="user-role">HR Office</span>
      </div>
      <img class="dropdown-icon" src="assets/icons/dropdown_icon.svg" alt="dropdown icon">
    </div>
  </div>
</header>
