.sidebar {
  padding: 20px;
  background-color: #fff;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  display: flex;
  align-items: center;
  margin: 10px 0;
  cursor: pointer;
  padding-bottom: 1em;
}

.sidebar img {
  margin-right: 10px;
  width: 24px;
  height: 24px;
}

.sidebar a.button {
  text-decoration: none;
  color: inherit;
}

.sidebar a.button:hover {
  text-decoration: underline;
}

.sidebar li:hover {
  background-color: #F2F7FF;
  border-radius: 4px;
  /*padding: 5px;*/
}
