<nav class="sidebar">
  <ul>
    <li>
      <img src="assets/icons/personal_icon.svg" alt="icono personal">
      Personal
    </li>
    <li>
      <img src="assets/icons/cotizaciones_icon.svg" alt="icono cotizaciones">
      <a class="button" href="/panel-cotizaciones">Panel de Cotizaciones</a>
    </li>
    <li>
      <img src="assets/icons/generar_cotizaciones_icon.svg" alt="icono generar cotizaciones">
      <a class="button" href="/generar-cotizacion">Generar Cotización</a>
    </li>
    <li>
      <img src="assets/icons/ordenes_icon.svg" alt="icono ordenes">
      Órdenes de Internamiento
    </li>
    <li>
      <img src="assets/icons/notification_icon.svg" alt="icono notificaciones">
      Notificaciones
    </li>
  </ul>
</nav>
