<section>
  <h3>Información Empresa</h3>
  <form>
    <div class="form-row">
      <div class="form-group">
        <label for="nombreEmpresa">Nombre</label>
        <input type="text" id="nombreEmpresa" value="Empresa XYZ" disabled />
      </div>
      <div class="form-group">
        <label for="distritoEmpresa">Distrito</label>
        <input type="text" id="distritoEmpresa" value="San Martín de Porres" disabled />
      </div>
      <div class="form-group">
        <label for="telefonoEmpresa">Teléfono</label>
        <input type="text" id="telefonoEmpresa" value="01-345323" disabled />
      </div>
      <div class="form-group">
        <label for="correoEmpresa">Correo Electrónico</label>
        <input type="email" id="correoEmpresa" value="empresaXYZ@empresaXYZ.pe" disabled />
      </div>
      <div class="form-group">
        <label for="direccionEmpresa">Dirección</label>
        <input type="text" id="direccionEmpresa" value="Av. Tupac Amaru - 210" disabled />
      </div>
      <div class="form-group">
        <label for="fechaEmpresa">Fecha</label>
        <input type="date" id="fechaEmpresa" />
      </div>
    </div>
    <button type="submit">Enviar</button>
  </form>
</section>
